.container {
    padding: 1rem 0;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}

.box h4 {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.bar {
    background-color: var(--black);
    width: 100%;
    width: 300px;
    border-radius: 6px;
}

.progress {
    background-color: var(--gold);
    border-radius: 6px;
    height: 1rem;
}