.container {
    height: calc(100vh - 6.4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h1 {
    font-size: 2.5rem;
    color: var(--gold);
}

.container p {
    font-size: 1.25rem;
    color: var(--white);
}