:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --black: #111111;
  --dark-grey: #2F2F2F;

  /* White, 75% */
  --white: #F6F6F6;
  --faded-white: rgba(246, 246, 246, 0.749);

  /* Gold, 50%  */
  --gold: #FFCB74;
  --faded-gold: #ffcb7480;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "t26-carbon", monospace;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  overflow: hidden;
}

body {
  color: var(--white);
  background-color: var(--dark-grey);
  scrollbar-width: thin;
  scrollbar-color: var(--gold) var(--dark-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

.blur {
  filter: grayscale(1) blur(1px);
  transition: filter 150ms ease-in;
}

#main {
  padding: 0 3rem;
}

@media screen and (max-width: 1000px) {
  #main {
    padding: 0 2rem;
  }
}

.button {
  border: none;
  border-radius: 5px;
  color: var(--black);
  background-color: var(--gold);

  font-size: 1.375rem;
  padding: 1rem 2rem;
  cursor: pointer;
}