/* Weights: 400, 800 */
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

:root {
  --color-yellow: #ffcc01;
  --color-white: #f8f9fa;
  --color-black: #121215;
  --color-grey: #1f1e22;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-white);
  background-color:var(--color-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.3s;
  font-family: 'Coda', cursive;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
